* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 880px;
  height: 80px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  background-color: beige;
}

header {
  background-color: #3F704D;
  border-radius: 10px 10px 0 0;
  color: #FFF;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

header p {
  font-size: 24px;
}

main {
  background-color: #EBF5EE;
  padding: 20px;
  box-shadow: 10px 10px 15px -5px #333333;
  border-radius: 0 0 10px 10px;
}

#word-display {
  margin: 30px;
  font-size: 3.0rem;
  text-align: center;
}

#english-word {
  font-weight: bold;
}

#japanese-word {
  font-size: 2.0rem;
}

#timer-container {
  margin: 30px;
  text-align: center;
}

#timer {
  font-size: 48px;
  font-weight: bold;
}

#input-container {
  margin: 30px;
  text-align: center;
}

input {
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
  width: 100%;
  max-width: 400px;
  display: inline-block;
}

.input-Description {
  margin: 20px;
}

#typed-word {
  font-size: 2.4rem;
  text-align: center;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3F704D;
  color: #FFF;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #6F9E7C;
}

#results-container {
  margin-top: 50px;
  text-align: center;
}

#results {
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
  color: #333;
  font-size: 1.4rem;
}

#progress-container {
  margin: auto;
  width: 60%;
  background-color: #ccc;
  height: 20px;

}

#progress-bar {
  height: 100%;
  width: 0%;
  background-color: #3F704D;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }

  header p {
    font-size: 18px;
  }


  #word-display {
    font-size: 2.5rem;
  }

  #japanese-word {
    font-size: 1.5rem;
  }

  #timer {
    font-size: 36px;
  }

  input {
    font-size: 20px;
  }

  #typed-word {
    font-size: 2.0rem;
  }

  button {
    font-size: 20px;
    margin-left: 10px;
  }
}
